.lend
    &-safe
        padding-top: 79px
        padding-bottom: 100px
        &__wrap
            background: #2D5883
            display: flex
            align-items: center
            padding: 0 40px
        &__img
            height: 295px
            width: 360px
            margin-right: 70px
            display: flex
            justify-content: center
            align-items: center
        &__cont
            padding: 20px 0
        &__title
            font-weight: 400
            font-size: 30px
            line-height: 115%
            text-transform: uppercase
            color: #FFFFFF
            margin: 0
            margin-bottom: 46px
            span
                font-weight: 700
        &__text
            margin: 0
            font-size: 16px
            line-height: 135%
            color: #FFFFFF
            max-width: 420px
    &-kinds
        padding-top: 60px
        padding-bottom: 75px
        background: #E0EEEF
        &__title
            font-weight: 400
            font-size: 30px
            line-height: 138.5%
            text-transform: uppercase
            color: #1C7DAF
            margin-top: 0
            margin-bottom: 55px
            span
                font-weight: 700
        &__wrap
            display: flex
            justify-content: space-between
            align-items: flex-start
        &__block
            width: 310px
            max-width: 31%
            background: #FFFFFF
            border: 2px solid #FFFFFF
            position: relative
            padding: 25px
            padding-bottom: 105px
            text-decoration: none
            transition: all 0.3s
        &__img
            height: 150px
            width: 150px
            margin: 0 auto
            margin-bottom: 30px
            display: flex
            justify-content: center
            align-items: center
        &__btn
            background: #2CB6BF
            width: calc( 100% + 4px )
            height: 64px
            display: flex
            justify-content: center
            align-items: center
            font-weight: 700
            font-size: 16px
            line-height: 134.5%
            color: #FFFFFF
            position: absolute
            bottom: -2px
            left: -2px
            transition: all 0.3s
            &:hover
                background: #1C7DAF
        &__name
            display: block
            font-weight: 700
            font-size: 16px
            line-height: 134.5%
            text-align: center
            text-transform: uppercase
            color: #2CB6BF
            min-height: 44px
            margin: 0
        &__descr
            display: block
            font-weight: 400
            font-size: 16px
            line-height: 135%
            margin-top: 32px
            text-align: center
            color: #000000
            display: none
        &__block:hover
            border: 2px solid #1C7DAF
            box-shadow: 0px 4px 20px rgba(28, 125, 175, 0.2)
    &-main
        padding-top: 22px
        padding-bottom: 100px
        background: #E0EEEF
        &__bread
            display: flex
            align-items: center
            flex-wrap: wrap
            margin: 0
            padding: 0
            list-style-type: none
            li
                margin-right: 27px
                position: relative
                &::after
                    content: ""
                    display: block
                    position: absolute
                    width: 9px
                    height: 20px
                    top: 0
                    left: calc(100% + 8px)
                    background: url('../img/lend/bread.svg') center no-repeat
                &:last-child
                    &::after
                        display: none
                    a
                        text-decoration: none
                a
                    font-size: 12px
                    line-height: 167%
                    text-decoration-line: underline
                    color: #2CB6BF
        &__title
            margin-top: 50px
            margin-bottom: 45px
            font-weight: 700
            font-size: 30px
            line-height: 167%
            text-transform: uppercase
            color: #1C7DAF
        &__wrap
            display: flex
            justify-content: space-between
        &__block
            width: 310px
            max-width: 31%
            border: 1px solid #2CB6BF
            border-bottom: 9px solid #2CB6BF
            display: flex
            flex-direction: column
            align-items: center
            justify-content: flex-start
            padding: 40px
            padding-bottom: 17px
        &__img
            width: 155px
            height: 155px	
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 40px
            img
                max-width: 100%
                max-height: 100%
        &__text
            min-height: 44px
            font-weight: 700
            font-size: 16px
            line-height: 134.5%
            text-align: center
            text-transform: uppercase
            color: #1C7DAF
    &-brands
        padding-top: 75px
        padding-bottom: 100px
        &__wrap
            display: flex
            flex-wrap: wrap
            padding-left: 80px
            grid-gap: 50px 72px
        &__block
            font-weight: 700
            font-size: 16px
            line-height: 40px
            text-transform: uppercase
            color: #1C7DAF
            span
                padding-left: 40px
    &-about
        padding-top: 65px
        padding-bottom: 76px
        background: #E0EEEF
        &__top
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 55px
        &__title
            margin: 0
            font-size: 30px
            line-height: 138.5%
            text-transform: uppercase
            color: #1C7DAF
        &__time
            display: flex
            align-items: center
            font-weight: 700
            font-size: 16px
            line-height: 138.5%
            text-transform: uppercase
            color: #000
            span
                color: #2CB6BF
                padding-right: 5px	
            img
                margin-right: 17px
        &__wrap
            display: flex
            justify-content: space-between
            padding-right: 20px
        &__img
            width: 75px
            height: 67px
            margin-bottom: 15px
        &__block
            width: 200px
        &__name
            font-size: 45px
            line-height: 74px
            text-transform: lowercase
            color: #2CB6BF
        &__descr
            font-size: 16px
            line-height: 135%
            text-transform: lowercase
            color: #000000
            margin: 0
    &-price
        padding-top: 47px
        padding-bottom: 65px
        &__title
            margin-top: 0
            margin-bottom: 22px
            font-size: 30px
            line-height: 167%
            text-transform: uppercase
            color: #1C7DAF
        &__wrap
            display: flex
            justify-content: space-between
        &__block
            width: 310px
            max-width: 31%
            padding: 30px
            display: flex
            justify-content: space-between
            align-items: center
            background: #2CB6BF
        &__name
            max-width: 120px
            font-weight: 500
            font-size: 16px
            line-height: 150.5%
            color: #FFFFFF
        &__num
            font-weight: 500
            font-size: 30px
            line-height: 227.5%
            text-transform: lowercase
            color: #FFFFFF