.lend
    &-safe
        padding-top: 79px
        padding-bottom: 100px
        &__wrap
            background: #2D5883
            display: flex
            align-items: center
            padding: 0 40px
        &__img
            height: 295px
            width: 360px
            margin-right: 70px
            display: flex
            justify-content: center
            align-items: center
        &__cont
            padding: 20px 0
        &__title
            font-weight: 400
            font-size: 30px
            line-height: 115%
            text-transform: uppercase
            color: #FFFFFF
            margin: 0
            margin-bottom: 46px
            span
                font-weight: 700
        &__text
            margin: 0
            font-size: 16px
            line-height: 135%
            color: #FFFFFF
            max-width: 420px
    &-kinds
        padding-top: 60px
        padding-bottom: 75px
        background: #E0EEEF
        &__title
            font-weight: 400
            font-size: 30px
            line-height: 138.5%
            text-transform: uppercase
            color: #1C7DAF
            margin-top: 0
            margin-bottom: 55px
            span
                font-weight: 700
        &__wrap
            display: flex
            justify-content: space-between
            align-items: flex-start
        &__block
            width: 310px
            max-width: 31%
            background: #FFFFFF
            border: 2px solid #FFFFFF
            position: relative
            padding: 25px
            padding-bottom: 105px
            text-decoration: none
            transition: all 0.3s
        &__img
            height: 150px
            width: 150px
            margin: 0 auto
            margin-bottom: 30px
            display: flex
            justify-content: center
            align-items: center
        &__btn
            background: #2CB6BF
            width: calc( 100% + 4px )
            height: 64px
            display: flex
            justify-content: center
            align-items: center
            font-weight: 700
            font-size: 16px
            line-height: 134.5%
            color: #FFFFFF
            position: absolute
            bottom: -2px
            left: -2px
            &:hover
                background: #1C7DAF
        &__name
            display: block
            font-weight: 700
            font-size: 16px
            line-height: 134.5%
            text-align: center
            text-transform: uppercase
            color: #2CB6BF
            min-height: 44px
            margin: 0
        &__descr
            display: block
            font-weight: 400
            font-size: 16px
            line-height: 135%
            margin-top: 32px
            text-align: center
            color: #000000
            display: none
        &__block:hover
            border: 2px solid #1C7DAF
            box-shadow: 0px 4px 20px rgba(28, 125, 175, 0.2)
